[package]
name = "buffrs"
version = "0.7.0"
edition = "2021"
description = "Modern protobuf package management"
authors = ["Mara Schulke <mara.schulke@helsing.ai>"]
repository = "https://github.com/helsing-ai/buffrs"
documentation = "https://docs.rs/buffrs"
keywords = ["protobuf", "protocol", "buffers", "package", "distribution"]
categories = ["command-line-utilities"]
readme = "README.md"
license = "Apache-2.0"

[[bin]]
name = "buffrs"
path = "src/main.rs"
required-features = ["build", "git"]

[[test]]
name = "e2e"
path = "tests/lib.rs"
test = true

[features]
default = ["build", "git"]
build = ["tonic-build", "protoc-bin-vendored"]
git = ["git2"]

[dependencies]
async-trait = "0.1"
bytes = "1.0"
clap = { version = "4.3", features = ["cargo", "derive"] }
flate2 = "1"
futures = "0.3"
git2 = { version = "0.18.1", optional = true }
hex = "0.4.3"
home = "0.5.5"
human-panic = "1"
protoc-bin-vendored = { version = "3.0.0", optional = true }
ring = "0.16"
serde = { version = "1", features = ["derive"] }
serde_typename = "0.1"
semver = { version = "1", features = ["serde"] }
tar = "0.4"
tokio = { version = "1", features = ["fs", "rt", "macros", "process", "io-std", "tracing"] }
toml = "0.8.0"
tonic-build = { version = "0.10.0", optional = true }
tracing = "0.1"
tracing-subscriber = "0.3"
url = { version = "2.4", features = ["serde"] }
walkdir = "2"
async-recursion = "1.0.5"
thiserror = "1.0.49"
miette = { version = "5.10.0", features = ["fancy"] }

[dependencies.reqwest]
version = "0.11"
features = ["rustls-tls-native-roots"]
default-features = false

[dev-dependencies]
assert_cmd = "2.0"
assert_fs = "1.0"
fs_extra = "1.3"
predicates = "3.0"
pretty_assertions = "1.4"
ring = "0.16.20"
hex = "0.4.3"
serde_test = "1.0.176"
