[package]
name = "buffrs"
version = "0.7.1"
edition = "2021"
description = "Modern protobuf package management"
authors = ["Mara Schulke <mara.schulke@helsing.ai>"]
repository = "https://github.com/helsing-ai/buffrs"
documentation = "https://docs.rs/buffrs"
keywords = ["protobuf", "protocol", "buffers", "package", "distribution"]
categories = ["command-line-utilities"]
readme = "README.md"
license = "Apache-2.0"

[[bin]]
name = "buffrs"
path = "src/main.rs"
required-features = ["build", "git", "validation"]

[[test]]
name = "e2e"
path = "tests/lib.rs"
test = true

[features]
default = ["build", "git", "validation"]
build = ["dep:tonic-build", "dep:protoc-bin-vendored"]
validation = ["dep:anyhow", "dep:protobuf", "dep:protobuf-parse", "dep:diff-struct"]
git = ["dep:git2"]

[dependencies]
async-recursion = "1.0.5"
anyhow = { version = "1.0", optional = true }
bytes = "1.0"
clap = { version = "4.3", features = ["cargo", "derive"] }
diff-struct = { version = "0.5.3", optional = true }
flate2 = "1"
git2 = { version = "0.18.1", optional = true }
hex = "0.4.3"
home = "0.5.5"
human-panic = "1"
miette = { version = "5.10.0", features = ["fancy"] }
protobuf = { version = "3.3.0", optional = true }
protobuf-parse = { version = "3.3.0", optional = true }
protoc-bin-vendored = { version = "3.0.0", optional = true }
reqwest = { version = "0.11", features = ["rustls-tls-native-roots"], default-features = false }
ring = "0.16"
semver = { version = "1", features = ["serde"] }
serde = { version = "1", features = ["derive"] }
serde_typename = "0.1"
tar = "0.4"
thiserror = "1.0.49"
tokio = { version = "^1.26", features = ["fs", "rt", "macros", "process", "io-std", "tracing"] }
toml = "0.8.0"
tonic-build = { version = "0.10.0", optional = true }
tracing = "0.1"
tracing-subscriber = "0.3"
url = { version = "2.4", features = ["serde"] }
walkdir = "2"

[dev-dependencies]
assert_cmd = "2.0"
assert_fs = "1.0"
fs_extra = "1.3"
hex = "0.4.3"
paste = "1.0.14"
predicates = "3.0"
pretty_assertions = "1.4"
ring = "0.16.20"
serde_json = { version = "1.0.107" }
serde_test = "1.0.176"
similar-asserts = "1.5.0"
