[licenses]
version = 2
allow = ["Apache-2.0", "BSD-3-Clause", "MIT", "Unicode-3.0", "ISC"]

[[licenses.clarify]]
name = "ring"
expression = "ISC"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]

[bans]
multiple-versions = "warn"
wildcards = "deny"

skip = [
    { crate = "bitflags@1", reason = "used by `redox`, `security-framework` and `system-configuration`" },
    { crate = "paste", reason = "dtolnay stopped maintaining this crate but it likely won't need further work and there is no clear replacement" },
]

skip-tree = [
    { crate = "windows-sys", reason = "Several foundational crates are not yet up to date" },
    { crate = "windows-targets", reason = "Several foundational crates are not yet up to date" },
]

[advisories]
version = 2
