name: Nix on Ubuntu Buffers CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  check_flake_w_nix_on_ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: DeterminateSystems/flake-checker-action@main
      - name: Run `nix flake check`
        run: nix flake check
